extends ../layout/index
block variables
  - var title = "Контакты";
  - var description = "";
  - var pageCLass = "utools";
    - var selected = "contacts";

block content
  section(
    class = "profile-block"
  )
    div(
      class = "profile-block__container"
    )
      div(
        class = "profile-block__wrapper"
      )
        h2(
          class = "profile-block__title"
        )  Реферальная программа

        p Здесь будет описание реферальной программы
        
        a(
          href="#"
        ) Подробнее
