.personal-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-top: 40px;
}

@media (min-width: 800px) {
  .personal-form {
    flex-wrap: nowrap;
  }
}

.personal-form__block {
  flex-grow: 1;
  border-radius: 4px;
  padding: 24px 32px 50px 32px;
  background-color: var(--color-white);
}

@include breakpoint (xs) {
  .personal-form__block + .personal-form__block {
    margin-top: 40px;
  }
}

@media (min-width: 800px)  {
  .personal-form__block + .personal-form__block {
    margin-top: 0;
    margin-left: 40px;
  }
}
