.personal-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-top: 40px;
}

@include breakpoint (md) {
  .personal-form {
    flex-wrap: nowrap;
  }
}

.personal-form__block {
  flex-grow: 1;
  border-radius: 4px;
  padding: 24px 32px 50px 32px;
  background-color: var(--color-white)
}

.personal-form__block + .personal-form__block {
  margin-left: 0;
  margin-top: 40px;
}

@include breakpoint (md) {
  .personal-form__block + .personal-form__block {
    margin-left: 40px;
    margin-top: 0;
  }
}