
.utools-sidebar {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #012b8c 0%, #024efd 60%);
  transition: 0.2s margin-left;
}

.utools-sidebar--hide {
  margin-left: -250px;
  transition: 0.2s margin-left;
}

.utools-sidebar__header {
  flex-basis: 30%;
}

.utools-sidebar__header-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.utools-sidebar__picture{}
.utools-sidebar__link{}

.utools-sidebar__navigation-header {}


.utools-sidebar__scroll-bar {
  overflow-y: auto;
  flex-basis: 70%;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.utools-sidebar__navigation-scroll {
  flex-basis: 100%;
}

.utools-sidebar__copyright {
  align-self: flex-end;
  flex-basis: 100%;
  padding-bottom: 24px;
}

.utools-sidebar__footer-link {
  font-size: 10px;
  font-weight: 100;
  color: var(--color-white);
  text-decoration: none;
}

.utools-sidebar__header-container {
  padding: var(--space-md) var(--sidenav-list-item-h-padding) var(--space-sm);
  padding-left: calc(var(--sidenav-sublist-control-margin-left) + var(--sidenav-sublist-control-size) + var(--sidenav-sublist-control-margin-right));
}
